div {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
	list-style: none;
}

hr {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #fff;
	height: 100%;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	text-align: center;
	font-weight: bold;
}

a {
	color: #000;
	transition: all .2s ease-in;
	-webkit-transition: all .1 ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease in;
}

a:link {
		color: #000;
		}

a:visited {
		color: #000;
		}

a:hover {
		color: #fff;
		}

#container {
  margin-left: 1.75vw;
  margin-right: 1.75vw;
}

header {
	display: flex;
	max-width: 960px;
  height: 281px;
	margin: auto;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #d6e8b8;
}

.logo {
  float: left;
  width: 334px;
}

.logo a {
  display: block;
  height: 100%;
}

@media screen and (max-width: 701px) {
.logo {width: 61%}
}

nav {
  display: flex;
  flex-direction: row;
}
nav ul li {
  float: right;
  padding-right: 4px;
  text-align: right;
}

nav a {
  text-decoration: none;
	flex: auto;
}

.nav-main ul li {
  font-size: 1.25em;
  letter-spacing: .2px;
  text-transform: uppercase;
  margin-left: 10px;
  padding-right: 4px;
}

.nav-main  {
	margin-top: 9em
}

@media screen and (max-width:743px) {
	.nav-main {margin-top: 10em; font-size: .90em;}
}

@media screen and (max-width:921px) {
	.nav-main {border: none; margin-top: 10.3em; font-size: .80em;}
}

.nav-main ul{
	margin: 0;
}

.main {

}

#slideshow-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#slideshow {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;

}

#slideshow  img {
  position: absolute;
}

@keyframes xfade {
  0%{
    opacity: 1;
  }
  20% {
    opacity:1;
  }
  27.17% {
    opacity:0;
  }
  92.83% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#slideshow img:nth-child(5) {
  animation: xfade 75s 0s infinite;
  -webkit-animation: xfade 75s 0s infinite;
}

#slideshow img:nth-child(4) {
  animation: xfade 75s 15s infinite;
  -webkit-animation: xfade 75s 15s infinite;
}

#slideshow img:nth-child(3) {
  animation: xfade 75s 30s infinite;
  -webkit-animation: xfade 75s 30s infinite;
}

#slideshow img:nth-child(2) {
  animation: xfade 75s 45s infinite;
  -webkit-animation: xfade 75s 45s infinite;
}

#slideshow img:nth-child(1) {
  animation: xfade 75s 60s infinite;
  -webkit-animation: xfade 75s 60s infinite;
}
