div {
  display: block;
}

a, button, input[type="submit"] {
cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
	list-style: none;
  padding-left: 0;
}

hr {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #fff;
	height: 100%;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

h2 {
	font-size: 1.5rem;
  letter-spacing: .1rem;
	text-align: center;
	font-weight: bold;
}

h3 {
  font-size: .875rem;
  letter-spacing: .1em;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 1.5em 0;
}

a {
	color: #fff;
	transition: all .2s ease-in;
	-webkit-transition: all .1 ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease in;
}

a:link {
		color: #fff;
		}

a:visited {
		color: #fff;
		}

a:hover {
		color: #000;
		}

#container {
  margin-left: 1.75vw;
  margin-right: 1.75vw;
}


header {
	display: flex;
  flex-wrap: wrap;
	max-width: 1024px;
  height: 281px;
  background-color: grey;
	margin: auto;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #d6e8b8;
}

.logo {
  float: left;
  width: 334px;
}

.logo a {
  display: block;
  height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
}
nav ul li {
  float: right;
  text-align: right;
}

nav li a {
  flex: auto;
  text-decoration: none;

}

.main-nav {
  padding-left: 17em;
  margin-top: 14em;
}

.main-nav ul li {
  letter-spacing: .1em;
  font-weight: lighter;
}

.main-nav li a {
  margin-left: .668em;
  padding-bottom: 3px;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #d6e8b8;
}

@media screen and (max-width:1039px) {
	.main-nav {padding-left: 15em; }
}

@media screen and (max-width:1015px) {
	.main-nav {padding-left: 14em;}
}

@media screen and (max-width:991px) {
	.main-nav {padding-left: 12em;}
}

@media screen and (max-width:975px) {
	.main-nav {padding-left: 11em;}
}

@media screen and (max-width:941px) {
	.main-nav {padding-left: 9em;}
}

@media screen and (max-width:908px) {
	.main-nav {padding-left: 4em;}
}

@media screen and (max-width:829px) {
	.main-nav {padding-left: 2em;}
}

@media screen and (max-width:808px) {
	.main-nav {padding-left: 2em;}
}

@media screen and (max-width:800px) {
	.main-nav {padding-left: 0;}
}

@media screen and (max-width:767px) {
	.main-nav {padding-left: 0; font-size: .875em;}
}

@media screen and (max-width:760px) {
	.main-nav {padding-left: 0; margin-top: 0; font-size: .875em; }
  .main-nav  ul li {float: none; padding-bottom: .5em}
}

.nav-main ul{
	margin: 0;
}

#slideshow-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#slideshow {
  position: relative;
  width: 100%;
  height: 280px;
  overflow: hidden;
}

#slideshow  img {
  position: absolute;
}

@keyframes xfade {
  0%{
    opacity: 1;
  }
  20% {
    opacity:1;
  }
  27.17% {
    opacity:0;
  }
  92.83% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#slideshow img:nth-child(5) {
  animation: xfade 75s 0s infinite;
  -webkit-animation: xfade 75s 0s infinite;
}

#slideshow img:nth-child(4) {
  animation: xfade 75s 15s infinite;
  -webkit-animation: xfade 75s 15s infinite;
}

#slideshow img:nth-child(3) {
  animation: xfade 75s 30s infinite;
  -webkit-animation: xfade 75s 30s infinite;
}

#slideshow img:nth-child(2) {
  animation: xfade 75s 45s infinite;
  -webkit-animation: xfade 75s 45s infinite;
}

#slideshow img:nth-child(1) {
  animation: xfade 75s 60s infinite;
  -webkit-animation: xfade 75s 60s infinite;
}

.col {
  flex: 1;
  width: 47%;
}

button {
  display: inline-block;
  position: absolute;
  bottom: 1em;
  background-color: #fbb040;
  font-size: .750em;
  font-weight: lighter;
  color: #fff;
  border-radius: .3em;
  padding: .3em .5em;
  margin-left: 7em;
}

button a {
    text-decoration: none;
    color: #fff;
  	transition: all .2s ease-in;
  	-webkit-transition: all .1 ease-in;
  	-moz-transition: all .1s ease-in;
  	-o-transition: all .1s ease in;
}

button:hover {
		color: #000;
		}

.column-teaser {
  padding-bottom: 2em;
}


.content {
  display: flex;
  justify-content: space-around;
  width: 1024px;
  margin: auto;
  padding-top: 2em;
}

.column {
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
  position: relative;
  padding: 20px;
  border: solid 1px #ebebeb;
  background: #fff;
  border-radius: 6px;
  margin-top: 0;
}

.content-private {
  display: flex;
  justify-content: space-around;
  width: 1024px;
  margin: auto;
  padding-top: 2em;
}

.column2 {
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  width: 32%;
  position: relative;
  padding: 20px;
  border: solid 1px #ebebeb;
  background: #fff;
  border-radius: 6px;
  margin-top: 0;
}

.column3 {
  font-weight: lighter;
  position: relative;
  padding: 20px;
  border: solid 1px #ebebeb;
  background: #fff;
  border-radius: 6px;
  margin: 0 0 0 2em;
}

.instructors img {
  width: 100%;
}

.col2 {
  margin-left: 9em;
}

.col3 {
  margin-left: 22em;
}

aside {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: #d9d9d9;
  border-radius: 6px;
  padding: 1em 1rem 1rem 1rem;
  overflow: hidden;
  overflow-y: auto;
}

aside h2 {
  color: grey;
}

aside .feature {
  padding: 5px 10px;
  margin: 5px 0 5px 0;
  background-color: rgba(0, 0, 0, 0.02);
  border: solid 1px rgba(0, 0, 0, 0.07);
}

.update {
  font-size: .875em;
  font-weight: lighter;
  color: grey;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.grid-col-1 {
  width: 50%;
}

.grid-gutter > [class^="grid-"] {
  padding: 1rem 1rem 0 0;
}

.grid-gutter > [class^="grid-"]:last-child {
  padding-right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
	max-width: 1024px;
  height: 220px;
  background-color: grey;
  font-size: .750em;
  font-weight: lighter;
  color: #fff;
  letter-spacing: .1em;
	margin: auto;
  margin-top: 2em;
  padding: 2em;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #d6e8b8;
}

address {
  font-style: normal;
  line-height: 1.5em;
}

address i {
  float: left;
  margin-right: 1em;
}

.address {
  margin: 0;
  margin-left: 2em;
}


address p + p {
  margin-top: .5em;
}

address a {
  text-decoration: none;
}

.sub-nav ul {
  margin: 0;
}

.sub-nav ul li {
  letter-spacing: .1em;
  font-weight: lighter;
  text-align: left;
  line-height: 2.5em;
  float: none;
}

.sub-nav li a {
  margin-left: .668em;
  padding-bottom: 3px;
}

hr.line {
	display: block;
	background-color: #d6e8b8;
  width: 400px;
	height: 1px;
  float: left;
	border: 0 none;
}

.pages ::before {
  content: "\f105";
  font-family: FontAwesome;
  display: block;
  float: right;
}

#copyright {
  display: flex;
  justify-content: space-between;
  background: #4c4c4c;
  color: #d9d9d9;
  font-size: .720em;
  letter-spacing: .1em;
  max-width: 1024px;
  padding: .5em .5em .5em 2em;
  margin: 0 auto;
}

#copyright li {
  display: block;
	float: right;
  color: #d9d9d9;
	margin-right: 2em;
}

@media screen and (max-width:880px) {
  hr.line {
  	display: block;
  	background-color: #d6e8b8;
    width: 0;
  	height: 1px;
    float: left;
  	border: 0 none;
  }
}

  @media screen and (max-width:880px) {
    .pages ::before {
      content: none;
      font-family: auto;
      display: block;
      float: none;
  }
}

@media screen and (max-width:653px) {
  footer .col:nth-child(2) {
    clear: right;
    visibility: hidden;
  }
}
